body{
    background-color: rgb(255, 255, 255);
    display: flex;justify-content: center;
   
}
.calclutor{
background-color: rgb(255, 255, 255);
width: 40vh;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;

}
.screen{
width: 95%;
height: 8vh;
outline: none;
border: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
border-radius: 4%;
box-shadow: 3px 4px 7px 1px rgb(179, 179, 179);
}
.buttun button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   height: 7vh !important;
  margin: 7px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 17%;border-radius: 50%;
font-size: large;
 cursor: pointer;
border: white;
background-color: white;
box-shadow: 3px 4px 7px 1px rgb(168, 168, 168);

}
.clear{
    box-shadow: 1px 3px 7px 1px rgb(168, 168, 168);
    background-color: white;
    cursor: pointer;
    border: white;
border-radius: 10px;
height: 4vh;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;font-weight: 300;
}
.buttun button:hover{
box-shadow: none;

transition: .3s;
}
.clear:hover{
    box-shadow: none;
  



}