
body{
    background: linear-gradient(to left , lightblue, rgb(248, 132, 132));
    
    
  }
  
  img {
    z-index: unset;
    position: absolute;
    width:100%;
    height: 100%;
    background-color: black;
    
  }
  
  #background{

 background: linear-gradient(to left , lightblue, rgb(248, 132, 132));
  position: absolute;
  width:100%;
  height: 100%;
  }
  
  #father{
    width: 100%;
    
  }
  
  .son{
  
background-color: rgb(236, 236, 236);
  
    margin-left: -150px;
    width: 300px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
  }
  
  
  p{
    color:rgb(19, 18, 17);
  }
  
  .card{
    display: inline;
  }
  
  
  
  #select{
    z-index:2;
   margin-top:-65px;
    margin-left:45%;
    
  }
  .grandchild_1{
    color: White;
  }
  
  .grandchild_2{
    color: White;
  }
  .grandchild_3{
    color: White;
  }
  
  .grandchild{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(8, 226, 255)
  }
  
  .grandchild_1{
    color:rgb(231, 49, 155);
  }
  .grandchild_2{
    color:rgb(231, 19, 19);
  }
  
  .grandchild_3{
    color:rgb(0, 0, 0);
  }